ftfy
accelerate>=1.2.1
einops
diffusers>=0.33.0
huggingface_hub<0.20.0
peft>=0.15.0
sentencepiece>=0.2.0
protobuf
pyloudnorm
gguf>=0.14.0
distrifuser @ git+https://github.com/mit-han-lab/distrifuser.git